body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  
  div.filme-serie {
    margin-top: 20px;
    font-size: 20px;
  }
  
  p {
    color: white;
    font-size: 25px;
    background-color: #a00404;
    margin-right: 240px;
    margin-left: 240px;
    border-radius: 10px;
    padding: 4px 8px;
    font-family: Verdana;
  }
  
  button {
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
  }
  